section .card .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #2395ff;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}
section .card .image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 4px;
  background: #fff;
}
